<section class="login-container">
    <div class="login-card">
        <img src="../imgs/logo_login.png" alt="Logo" class="login-logo">
        <h2>Log In</h2>
        <form action="/login" id="login" method="POST">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Informe seu e-mail" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Informe sua senha" required>
            </div>
            <button type="submit" class="login-btn">Let me In!</button>
            <p class="login-footer">
                Ainda não possui uma conta? <a href="/register">Cadastre-se agora!</a>
            </p>
        </form>
    </div>
</section>